{% extends "bootstrap/base.html" %}

{% block title %}Просмотр таблиц{% endblock %}

{% block head %}
    {{ super() }}
<!--        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">-->
<!--        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">-->
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Просмотр</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/show_applic">Заявки</a></li>
                </ul>
                <a class="navbar-brand" href="/">Редактура</a>
                <ul class="nav navbar-nav">
                    <li><a href="/add_form_applic">Заявки</a></li>
                    <li><a href="/add_form_regist">Регистрация</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="/logout">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}